<head>
<link rel="stylesheet" href="/css/header.css">
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/c3c4bc64da.js" crossorigin="anonymous"></script>
</head>
<div class="titlebar">
    <div class="item1">
        <a href="/" style="color: #ffca70; font-weight: bold;"><img src="/Images/logo.png" height="100px"></a>
    </div>
    <div class="item2">

        <nav>
            <ul>
                <li> <a href="/">Home</a></li>
                <li> <a href="/menu">Menu</a></li>
                <li> <a href="/contact">Contact</a></li>
                <li> <a href="/signin">Login</a></li>
                <li  class ="icon" style="display: none;" id="cart">
                    <a href="#"><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                    <p id="cartQty"> 0 </p>
               </li>
                <li class="socials icon"><a href="#"> <i class="fa-brands fa-instagram fa-lg" ></i> </a>
                </li>
                <li class="socials icon"><a href="#"><i class="fa-brands fa-twitter fa-lg" ></i></a>
                </li>
                <li class="socials icon"><a href="#"> <i class="fa-brands fa-facebook fa-lg" ></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<body>