<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
</head>

<style>
    *{
        margin: 0;
        padding: 0;
    }

    html,body{
        background-color: #91091E;
        color: #ffca70;
        width: 100%;
        height: 100%;
        max-width: 100vw;
        max-height: 100vh;
        user-select: none;
    }

    h1{
        font-size: 20rem;
    }
    img{
        z-index: -1000;
    }

    h1,h2
    {
        font-family: Arial, Helvetica, sans-serif;
        background-image: url("https://images.pexels.com/photos/2734288/pexels-photo-2734288.jpeg?auto=compress&cs=tinysrgb&w=600"); 
        background-repeat: no-repeat;
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
    }

    h2{
        font-size: 5rem;
    }

    .notFound
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;

        
    }

</style>


<body>
    <div class="notFound">
        <h1>404</h1>
        <h2> Page not found</h2>
    </div>
</body>




</html>